<launch>
	<!-- vim: ft=xml -->
	<!-- example node launch file-->

	<arg name="shm_unit" default="2" />
	<arg name="time_reference" default="/wamv_rise/airmar/time_ref" />
	<arg name="fixup_date" default="True" />

	<node pkg="ntpd_driver" type="shm_driver" name="ntpd_shm" 
          respawn="true" respawn_delay="10" clear_params="true" output="screen">
		<param name="shm_unit" value="$(arg shm_unit)" />
		<param name="fixup_date" value="$(arg fixup_date)" />
		<remap from="time_ref" to="$(arg time_reference)" />
	</node>
</launch>