<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2024

    Copyright (C) 2023-2024 Smart Ocean Systems Laboratory
-->
<launch>
    <arg name="robot_name" default="wamv_rise"/>


    <!-- Bring up Control -->
    <include file="$(find wamv_rise_bringup)/launch/include/control.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    
    <!-- Bring up Helm -->
    <include file="$(find wamv_rise_bringup)/launch/bringup_helm.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

</launch>