<?xml version="1.0"?>
<!--
    This file is part of Iceberge Mapping project.

    Author: Mingxi Zhou, Lin Zhao
    Email: linzhao@uri.edu
    Year: 2024

    Copyright (C) 2024 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="wamv_rise"/>

    <!-- Bring up torqeedo motor -->
    <include file="$(find wamv_rise_bringup)/launch/include/torqeedo_motors.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="delay" value="1.0"/>
    </include> 

    <!-- Bring up vehicle joy -->
    <include file="$(find wamv_rise_bringup)/launch/include/vehicle_joy.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="delay" value="3.0"/>
    </include> 

</launch>